<h2>Select Plaid Account</h2>

<form name="selectPlaidAccountForm" ng-submit="selectPlaidAccountCtrl.submit()">
    <table>
        <tr>
            <th>&nbsp;</th>
            <th>Account Name</th>
            <th>Account Type</th>
            <th>Last 4</th>
        </tr>
        <tr ng-repeat = "account in selectPlaidAccountCtrl.metadata.accounts">
            <td><input type="radio" name="plaid" value="{{ account.id }}" ng-model="selectPlaidAccountCtrl.selectedAccount"/></td>
            <td>{{ account.name }}</td>
            <td>{{ account.subtype }}</td>
            <td>{{ account.mask }}</td>
        </tr>
    </table>
    <footer>
        <button class="primary" ladda="selectPlaidAccountCtrl.loading" ng-disabed="selectPlaidAccountCtrl.$invalid">
        {{'SAVE' | translate}}
      </button>
      <button ng-click="closeThisDialog()">{{'CANCEL' | translate}}</button>
    </footer>
</form>