<h2>Select Plaid Account</h2>

<form name="selectPlaidAccountForm" ng-submit="selectPlaidAccountCtrl.submit()">
    <!-- <div class="account__tbody">
        <div class="account__thead">
            <div class="account__tr">
                <div class="account__th account__td--category account__td--large">
                    <span><span></span></span>
                </div>
                <div class="account__th account__td--category account__td--large">
                    <span><span>Account Name</span></span>
                </div>
                <div class="account__th account__td--large">
                    <span><span>Account Type</span></span>
                </div>
                <div class="account__th account__td--large">
                    <span><span>Last 4</span></span>
                </div>
            </div>
            <div class="account__tbody">
                <div class="account__tbody account__tbody--striped virtual-list">
                    <div ng-repeat="account in selectPlaidAccountCtrl.metadata.accounts">
                        <div class="account__tr">
                            <div class="account__td account__td--select">
                                <input type="checkbox" ng-model="selectPlaidAccountCtrl.selectGetterSetter(account)" ng-model-options="{ getterSetter: true }"/>
                            </div>
                            <div class="account__td account__td--category account__td--large">
                                <span class="account__category-label">
                                    <span>{{ account.name }}</span>
                                </span>
                            </div>
                            <div class="account__td account__td--large">
                                <span class="account__category-label">
                                    <span>{{ account.subtype }}</span>
                                </span>
                            </div>
                            <div class="account__td account__td--large">
                                <span class="account__category-label">
                                    <span>{{ account.mask }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <table>
        <tr>
            <th>&nbsp;</th>
            <th>Account Name</th>
            <th>Account Type</th>
            <th>Last 4</th>
        </tr>
        <tr ng-repeat = "account in selectPlaidAccountCtrl.metadata.accounts">
            <td><input type="radio" name="plaid" value="{{ account.id }}" ng-model="selectPlaidAccountCtrl.selectedAccount"/></td>
            <td>{{ account.name }}</td>
            <td>{{ account.subtype }}</td>
            <td>{{ account.mask }}</td>
        </tr>
    </table>
    <footer>
        <button class="primary" ladda="selectPlaidAccountCtrl.loading" ng-disabed="selectPlaidAccountCtrl.$invalid">
        {{'SAVE' | translate}}
      </button>
      <button ng-click="closeThisDialog()">{{'CANCEL' | translate}}</button>
    </footer>
</form>